<ul class="list-inline text-center" id="team">
  <h1> This template is built with  by </h1>
  <% ["emnaguel", "estellegresillon"].each do |gh_username| %>
    <li>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "img-circle xs"  %>
      <h3><%= gh_username.capitalize %></h3>
    </li>
  <% end %>
  <div id = background_white>

  </div>
</ul>
